$touch-color: #ff5100;
$touch-font-color: #fff;
$font-color: #000000;

@mixin width-height50 {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50%
}



*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    a{
       text-decoration: none;
    }
    
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


body{
    background-color: #6b6868;
}

.wraper{
    height: 100vh;
    width: 100%;
}


.computer{

    height: 400px;
    width: 250px;
    background-color: $font-color;
    border: 10px solid  $font-color;
    border-radius: 20px;
    box-shadow: -3px 3px 5px rgba(234, 232, 232, 0.774);

    .result{
        background-color: $touch-font-color;
        height: 50px;
        width: 230px;
        margin: 10px auto;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-size: 30px;
        display: flex;
        justify-content: end;
        overflow: hidden;
    }

    .mar{
        display: flex;
        justify-content: end;
        margin-right: 20px;
        color: $touch-font-color;
        font-size: 8px; 
        height: 10px;
    }

    .mark1{
        
        @include width-height50;
        background-color: #898987;
        margin-top: 10px;
        color: $touch-font-color;
        font-weight: 800;
        &:hover {
            color: $touch-font-color;
            background-color: $touch-color;
        }
    }           

    .mark{

        @include width-height50;
        background-color: #ffa200;
        font-weight: 800;
        color: $font-color;
        &:hover {
            color: $touch-font-color;
            background-color: $touch-color;
        }

    }

    .number {
            
            @include width-height50;
            background-color: $touch-font-color;
            color: $font-color;
            &:hover {
                color: $touch-font-color;
                background-color: $touch-color;
            }
    }

    .zero1{
        
        width: 110px;
        height: 50px;
        color: $font-color;
        border-radius: 50px;
        margin-top: 10px;
        background-color: $touch-font-color;

        &:hover {
            color: $touch-font-color;
            background-color: $touch-color;
        }
    }

    .dot{

        font-size: 60px;
        color: $font-color;
        padding-bottom: 20px;
    }

    ul{
        
        display: flex;
        justify-content: space-between;
        background-color: $font-color;

    }
    


}







